*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div[class*=col-]{
  background-color: pink;
  border: 2px solid black;
  height: 150px;
  text-align: center;
}


.nest:after{
  display: table;
  clear: both;
  content: '';
}

div .nested{
  height: 145px;
  padding: 10px;
  background-color: orange;
  border: 5px solid pink;
}

span{
  position: relative;
  top: 45%;
}
